# Mac stuff
.DS_Store

# C extensions
*.so
*.o

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# BLAST databases
*.nhr
*.nin
*.nsq

# Distribution and packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
setuptools*.zip

# PyCharm
.idea/
